html, body{
	height: 100%;
	width: 100%;
	background: rgb(93,9,125);
	background: linear-gradient(90deg, rgba(93,9,125,1) 0%, rgba(112,33,166,1) 39%, rgba(185,68,237,1) 100%);
	/*margin: auto; */
}

.container{
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
}

.wrapper-1{
	/*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;*/
    width: 400px;
    height: 550px;
	/*max-width: */
	color: white;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	/*position: relative;*/
	padding: 15px;
	margin-top: 20%;
	margin-left: 350px;
	/*margin: 15% 25% 0 25%;*/
	/*padding: 30px;*/
	background-color: rgba(0, 0, 0, 0.6); 	
}

input, select{
	color: black;
	width: 100%;
	min-width: 300px;
	font-size: 20px;
	margin: auto;
}

.message{
	padding-top: 10px;
	margin-left: 15px;
}

.register-btn{
	margin-left: 10px;
}


/******************************************************************************************************************************/
